/* your code here */
.media-icons{
	display:flex;
	justify-content:space-evenly;
	
	
}
.media-icons>div{
	margin:5px;
}
body{
	background-color:black;
}
.top{
	display:flex;
	justify-content:space-between;
}
img{
	width:60px;
	height:60px;
}
div.link-boxes{
	display:flex;
	color:white;
	
}
.h1{
	padding:30px;
}
.bottom-details{
	display:flex;
	justify-content:space-between;
	background-color:grey;
	padding:15px;
	color:wheat;
}
a{
	color:white;
	
}
.logo_name{
	color:white;
	font-size:30px;
}